* {
    box-sizing: border-box;
}

body {
    color: var(--color-text);
    background-color: var(--color-background);
}

a {
    text-decoration: none;
    color: var(--color-accent)
}

a:hover,
a:focus {
    text-decoration: line-through;
}

a:active {
    text-decoration: overline;
}

h1,
.text-xl {
    font-size: var(--text-xl);
}

h2,
.text-lg {
    font-size: var(--text-lg);
}

h3,
.text-md {
    font-size: var(--text-md);
}

h4,
.text-sm {
    font-size: var(--text-sm);
}

h5,
.text-xs {
    font-size: var(--text-xs);
}

h6,
.text-caption {
    font-size: var(--text-caption);
}

.has-dialog {
    overflow: hidden;
}