.dashboard-page,
.dashboard-symbol {
    display: grid;
    grid-gap: var(--size100);
    grid-template-areas: "headline historical" "watch watch" "top top";
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto;
}

#headline {
    grid-area: headline;
}

#historical-data {
    grid-area: historical;
}

#top-companies {
    grid-area: top;
}

#watch-list {
    grid-area: watch;
}

#historical-data .stock-request {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
}

.section-title {
    color: var(--color-light-opacity);
    font-size: 4em;
    display: table-caption;
}

@media (max-width: #{$lg+"px"}) {
    .dashboard-page {
        grid-template-areas: "headline" "historical" "watch" "top";
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }
}