$colors: ( "foreground": $foreground, "background": $background, "text": $text, "accent": $accent, "dark": $dark, "light": $light, "error": $error, "success": $success, "warning": $warning);
:root {
    @each $key,
    $value in $colors {
        --color-#{$key}: #{$value};
    }
}

:root {
    font-size: 20px;
    --size: 0.25rem;
    --size025: calc(var(--size) * 1);
    --size050: calc(var(--size) * 2);
    --size075: calc(var(--size) * 3);
    --size100: calc(var(--size) * 4);
    --size125: calc(var(--size) * 5);
    --size150: calc(var(--size) * 6);
    --size175: calc(var(--size) * 7);
    --size200: calc(var(--size) * 8);
    // media queries
    --media-xs: #{$xs+"px"};
    --media-sm: #{$sm+"px"};
    --media-md: #{$md+"px"};
    --media-lg: #{$lg+"px"};
    --media-xl: #{$xl+"px"};
    // text-sizes
    --text-xl: 2em;
    --text-lg: 1.5em;
    --text-md: 1.17em;
    --text-sm: 1em;
    --text-xs: .83em;
    --text-caption: .67em;
    // colors opacity
    --color-light-opacity: rgba(255, 255, 255, 0.1);
    --color-dark-opacity: rgba(0, 0, 0, 0.8);
    // utils
    --super-round: 9999999999px;
    // container
    --container-width: var(--media-lg);
    // toolbar
    --toolbar-height: calc(var(--size100) * 4);
}

// * {
//     --color-accent: #577D78;
//     --color-background: white;
//     --color-light: black;
//     --color-dark: white;
//     --color-light-opacity: #0CFADC;
//     --color-text: #000000;
//     --color-error: #AD1834;
//     --color-success: #00AD78;
// }